# Node modules
node_modules/

# Build outputs
dist/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# VS Code settings
.vscode/

# MacOS and Windows files
.DS_Store
Thumbs.db

# Dependencies
package-lock.json
